@mixin border-radius($radius : 5px){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin page-divider($width, $padding, $zindex){
	width: $width;
	z-index: $zindex;
	padding: $padding;
}