$brand-orange: #FDAD2A;
$brand-purple: #AC6BEC;
$brand-red: #FA424A;
$brand-grey: #EFF3F6;
$brand-green: #46C35F;
$brand-blue: #010028;
$white-color: #FFFFFF;

// leftsidebar width
$leftSideBarWidth: 250px;
// navbar height
$navbarHeight: 77px;

// main content padding..
$inner-spacing: 30px;